.quick-log-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.add-log-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}
.add-log-input {
    margin: 0 1rem;
    border: 1px solid #000000;
    box-shadow: #0f0f0f 2px 2px;
    width: 85%;
}

.quick-log-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 1.5rem;
    width: 100%;
}

.add-log-btn {
    width: 90%;
    margin: 0.5rem 1rem;
    color: #000000;
    background-color: var(--logtower-wood);
    background: var(--logtower-gradient);
    border: 1px solid #000000;
    box-shadow: #0f0f0f 2px 2px;
}

.add-log-btn:hover {
    color: white;
    outline: none;
    border: 1px solid white;
    box-shadow: none;
}

.add-log-btn:disabled {
    background: rgba(76, 75, 75, 0.24) none;
    color: #f6f6f6;
    outline: none;
    border: 1px solid white;
    box-shadow: none;
    cursor: auto;
}

.subtle-text {
    font-size: 0.85rem;
    color: #888;
    text-align: left;
}

.subtle-text strong {
    color: #555;
}

@media (min-width: 726px) {

    .quick-log-window {
        justify-content: space-around;
    }

    .add-log-btn {
        width: 15%;
        margin: 0;
    }

    .add-log-input {
        margin: 0;
        width: 70%;
    }

    .add-log-section {
        flex-direction: row;
        justify-content: space-around;
    }
}

