

.add-log-input {
    margin: 0 1rem;
    border: 1px solid #000000;
    box-shadow: #0f0f0f 2px 2px;
}

.quick-log-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1.5rem;
}

.add-log-btn {
    margin: 0 1rem;
    color: #000000;
    background-color: var(--logtower-wood);
    background: var(--logtower-gradient);
    border: 1px solid #000000;
    box-shadow: #0f0f0f 2px 2px;
}

.add-log-btn:hover {
    color: white;
    outline: none;
    border: 1px solid white;
    box-shadow: none;
}

.add-log-btn:disabled {
    background: rgba(76, 75, 75, 0.24) none;
    color: #f6f6f6;
    outline: none;
    border: 1px solid white;
    box-shadow: none;
    cursor: auto;
}
