
.filter-container {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    margin-top: 1.5rem;
}


.filter-bar {
    padding: 0.5rem;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.no-filter-bar {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.no-filter-bar:hover {
    background: var(--logtower-hover);
    cursor: pointer;
}

.filter-space {
    margin: 1rem;
}

.filter-dropdowns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1.5rem;
}

.filter-dropdowns select {
    display: block;
    width: 25%;
    padding: 0.3rem 0.8rem;
    font: var(--logtower-font), 'monospace';
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: var(--logtower-white);
    transition: border-color 0.2s, box-shadow 0.2s;
}

.filter-dropdowns select:hover {
    background: var(--logtower-hover);
}

.settings {
    flex: 1 1 300px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}