<div class="row">
    <button (click)="goToDashboard()" class="logs-btn svg-white">
        <div class="svg-icon">
            <img ngSrc="assets/back-arrow.svg" alt="Go Back" width="20" height="20">
        </div>
    </button>
    <div class="page-header">
        <h2> Logtower Context </h2>
        <span> What are you logging for? </span>
    </div>
</div>

<div class="setup">

    <div class="settings">
        <h2>Current Setup</h2>
        <p><strong>Project:</strong> {{ activeProject?.name || 'None selected' }}</p>
        <p><strong>Task:</strong> {{ activeTask?.name || 'None selected' }}</p>
    </div>

    <div class="settings">
        <h2> Change Setup </h2>

        <select
                [ngModel]="settings()?.activeProjectId"
                (ngModelChange)="setActiveProject($event)"
        >
            @for (project of projects(); track project.id) {
                <option [ngValue]="project.id">{{ project.name }}</option>
            }
        </select>

        <select
                [ngModel]="settings()?.activeTaskId"
                (ngModelChange)="setActiveTask($event)"
                [disabled]="!activeProject"
        >
            @if (activeProject) {
                @for (task of tasksByProject()[activeProject.id]; track task.id) {
                    <option [ngValue]="task.id">{{ task.name }}</option>
                }
            }
        </select>
    </div>
</div>

