<div class="row">
    <button (click)="goToDashboard()" class="logs-btn"> < </button>
    <h2 class="text-xl font-bold"> Log Context </h2>
</div>

<div class="setup">

    <div class="settings">
        <h2>Current Setup</h2>
        <p><strong>Project:</strong> {{ activeProject?.name || 'None selected' }}</p>
        <p><strong>Task:</strong> {{ activeTask?.name || 'None selected' }}</p>
    </div>

    <div class="settings">
        <h2> Change Setup </h2>

            <select [value]="settings()?.activeProjectId ?? ''"
                    (change)="setActiveProject($any($event.target).value ? +$any($event.target).value : null)">
                <option value=""> {{ activeProject?.name }} </option>
                @for (project of projects(); track project.id) {
                    <option [value]="project.id">{{ project.name }}</option>
                }
            </select>

            <select [value]="settings()?.activeTaskId ?? ''"
                    (change)="setActiveTask($any($event.target).value ? +$any($event.target).value : null)"
                    [disabled]="!activeProject">
                <option value=""> {{ activeTask?.name }}</option>
                @if (activeProject) {
                    @for (task of tasksByProject()[activeProject.id]; track task.id) {
                        <option [value]="task.id">{{ task.name }}</option>
                    }
                }
            </select>
    </div>
</div>


<div class="manage-section">
    <button class="logs-btn manage-btn" (click)="goToManage()">
        Manage Projects
    </button>
</div>
